### Numbers

In [1]:
my_number =12345
type(my_number)

int

In [2]:
my_float = 3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [3]:
15.0 + 2

17.0

In [4]:
6 * 3.1

18.6

In [5]:
7 / 3

2.3333333333333335

In [6]:
6//5   #int verir

1

In [7]:
8 % 2   #modulo

0

### Another way to look at modulo

In [8]:
def my_modulo(number1,number2):
    divided_part = int(number1 / number2)
    remainder= number1- (number2*divided_part)
    return remainder

print(my_modulo(5,3))

2

In [9]:
print(round(3.1415,2))

3.14

In [10]:
import math

print(math.floor(3.99999))
print(round(3.99999,2))

3
4.0

In [11]:
0.1 * 3

0.30000000000000004

In [12]:
from decimal import Decimal

Decimal('0.1') * 3

Decimal('0.3')

In [13]:
import random
random.randint(0,99)

93

## Strings

In [14]:
my_string = "my text is 'important'" 
#'my text is important'  "" and '' is equal in python 
print(my_string)

my text is 'important'

In [15]:
long_string = '''
###
text
    example

'''

print(long_string)

###
text
    example

In [16]:
my_number =42
my_number = str(my_number)
print(type(my_number))

<class 'str'>

In [17]:
print(my_string)
print(my_string[0])
print(my_string[-3])
print(len(my_string[2]))

my text is 'important'
m
n
1

Slice
<str>[<start>:stop:<step>]

In [18]:
my_string[1:4]

'y t'

In [19]:
my_string[:4]

'my t'

In [20]:
my_string[1:]

"y text is 'important'"

In [21]:
my_string[::2]

'm eti iprat'

In [22]:
my_string[::-1]

"'tnatropmi' si txet ym"

In [23]:
my_string.split(', ')

["my text is 'important'"]

In [24]:
animals = ["cat", "dog", "horse"]
", ".join(animals)

'cat, dog, horse'

In [25]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

'
i
m
p
o
r
t
a
n
t
'

In [26]:
test_string = "Ada lovelace Academy has started!"

In [27]:
test_string.lower()

'ada lovelace academy has started!'

In [28]:
test_string.strip("!")

'Ada lovelace Academy has started'

In [29]:
test_string.endswith("!")

True

In [30]:
test_string.replace('!','.')

'Ada lovelace Academy has started.'

In [31]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### fstring

In [32]:
name = "gizem"
age = 18
print(f"My name is {name} and my age {age}")

My name is gizem and my age 18

In [33]:
import datetime
today = datetime.datetime.today()
print(f"{today : %d %B %Y}")    #%d %m %Y

 07 December 2023

### Boolean

In [34]:
bool(1)

True

In [35]:
my_variable = 0
if my_variable:
    print("yes it is true")
else :
     print("no it is false")

no it is false

In [36]:
my_variable is True

False

In [37]:
print(not True and False)
print(not (True and False))

result = 1 & 0
bool(result)

False
True

False

### Comparisons

In [38]:
15 != 10

True

In [39]:
"Ada" == "Lovelace"

False

In [40]:
15 is my_number

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Fydil35\AppData\Local\Temp\ipykernel_5188\1797256117.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  15 is my_number

False

In [41]:
my_list = [1, 2, 3]
print(3 not in my_list)
print(1 in my_list)

False
True

### Conditions

In [42]:
first_number = 10
second_number = 5

In [43]:
if first_number>second_number:
    print(f"first number {first_number} is greater than second number {second_number}")
else:
     print(f"second number {second_number} is greater than first number {first_number}  ")

first number 10 is greater than second number 5

In [44]:
first_number = 10
second_number = 10

In [45]:
if first_number>second_number:
    print(f"first number {first_number} is greater than second number {second_number}")
elif first_number == second_number:
     print(f"first number {first_number} is equal with second number {second_number}")
else:
     print(f"second number {second_number} is greater than first number {first_number}  ")

first number 10 is equal with second number 10

In [46]:
test_score =80
age = 18

#age between 16-18  score 80 or above, intern- driver   +
#age above 18 drive, score score 80  or above, driver
#age between 16-18  score 60-80 , supervised-intern- driver +
#age above 18 drive, score 60-80 , supervised-driver

def driver_status(age, test_score):

    if((age < 18) & (age >= 16) ):  #second option for python (18 > age >= 16)
        if(test_score >= 80):
            return "intern driver"
        elif(test_score > 60):
            return "supervised intern driver"     
    elif (age >= 18):
        if(test_score >= 80):
            return "driver"
        elif(test_score >60):
            return "supervised  driver"   

    return "Unlicenced Driver"

driver_status(age, test_score)

'driver'

In [47]:
def buzz_func(number):

    return "Buzz!" if number % 2 == 0 else str(number)

In [48]:
my_number = 12
buzz_func(my_number)

'Buzz!'

#### List

In [49]:
empty_list =[]
print(empty_list)

[]

In [50]:
example_list = [1, "academy", [1, 2, 3]]
print(example_list,'\r\n',
      example_list[0],'\r\n',
      example_list[-1],'\r\n',
      '\r\n',example_list[:2])

[1, 'academy', [1, 2, 3]]
 1
 [1, 2, 3]

 [1, 'academy']

In [51]:
test_list = list()
print(test_list)

[]

In [52]:
example_list = list("string") #permisson iterable object and 1 elements
literal_list = ["string"]
print(example_list,'\r\n',literal_list)

['s', 't', 'r', 'i', 'n', 'g']
 ['string']

In [53]:
colors = ["yellow","green", "red", "blue", "purple"]

for color in colors:
    print(color)

yellow
green
red
blue
purple

In [54]:
for index,color in enumerate(colors):   # enumerate 2 değer aldığı için
    print(f"{index}: {color}")

0: yellow
1: green
2: red
3: blue
4: purple

In [55]:
cubes_to_1000 = []

#range(10) -> 0,1,2...10
#<list>.append(<item>)

for number in range(1,11):
    
    cubes_to_1000.append(number**3)

print(cubes_to_1000)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [56]:
print(colors)

['yellow', 'green', 'red', 'blue', 'purple']

In [57]:
new_colors = colors
print(new_colors)

new_colors.append("orange")
print(new_colors)
print(colors)

['yellow', 'green', 'red', 'blue', 'purple']
['yellow', 'green', 'red', 'blue', 'purple', 'orange']
['yellow', 'green', 'red', 'blue', 'purple', 'orange']

In [58]:
colors.pop() #deleted elements and return

'orange'

In [59]:
newest_colors=colors.copy() #not effacted original list this method
print(newest_colors)
newest_colors.append("black")
print(newest_colors)
print(colors)

['yellow', 'green', 'red', 'blue', 'purple']
['yellow', 'green', 'red', 'blue', 'purple', 'black']
['yellow', 'green', 'red', 'blue', 'purple']

In [60]:
newest_colors.insert(0,"gray")
print(newest_colors)

['gray', 'yellow', 'green', 'red', 'blue', 'purple', 'black']

In [61]:
newest_colors.remove("yellow")

In [62]:
newest_colors.remove("cyan")

ValueError: list.remove(x): x not in list

In [63]:
# extend, add two list togetter
numbers = ["1", "4", "5", "9"]
colors.extend(numbers)
colors

['yellow', 'green', 'red', 'blue', 'purple', '1', '4', '5', '9']

In [64]:
#reverse
newest_colors.sort(reverse=True)
newest_colors

['red', 'purple', 'green', 'gray', 'blue', 'black']

In [65]:
newest_colors.index("red")

0

### Tuples & Dictionary

In [66]:
my_tuple = tuple()
my_tuple = tuple ([10])
print(my_tuple)

(10,)

In [67]:
my_tuple = tuple("Lovelace")
print(my_tuple)

('L', 'o', 'v', 'e', 'l', 'a', 'c', 'e')

In [68]:
my_tuple = tuple([10, "Ada", "Lovelace",11])
print(my_tuple)

(10, 'Ada', 'Lovelace', 11)

In [69]:
#dic
animal_colors ={
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [70]:
animal_colors_tuple = tuple (animal_colors) #key 
print(animal_colors_tuple)

('cat', 'dog', 'horse')

In [71]:
animal_colors_tuple2 = tuple(animal_colors.items())
print(animal_colors_tuple2)

(('cat', 'yellow'), ('dog', 'black'), ('horse', 'brown'))

In [72]:
my_new_tuple = ("ada",)
print(type(my_new_tuple))
my_new_tuple = "ada" , "lovelace"
print(my_new_tuple)

<class 'tuple'>
('ada', 'lovelace')

In [73]:
my_new_tuple[0]

'ada'

In [74]:
animals = dict([('cat', 'yellow'), ('dog', 'black'), ('horse', 'brown')])
print(animals)

{'cat': 'yellow', 'dog': 'black', 'horse': 'brown'}

In [75]:
#dictionary (key,value)
animals ={
    "cat": {
        "color": "yellow",
        "weight": "5.1"
    },
    "dog": "black",
    "horse": "brown"
}

In [76]:
animals["dog"]

'black'

In [77]:
animals["dolphin"] # KeyError

KeyError: 'dolphin'

In [78]:
animals["cat"]["color"]

'yellow'

In [79]:
animals.get("cat") # this method for KeyError

{'color': 'yellow', 'weight': '5.1'}

In [80]:
animals["bear"] = "brown" # dictionarys unsequence
print(animals)

{'cat': {'color': 'yellow', 'weight': '5.1'}, 'dog': 'black', 'horse': 'brown', 'bear': 'brown'}

In [81]:
animals.pop("horse")

'brown'

In [82]:
animals

{'cat': {'color': 'yellow', 'weight': '5.1'}, 'dog': 'black', 'bear': 'brown'}

In [83]:
#del

animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown"
}

In [84]:
for animal, color in animal_colors.items():
    print(f"{animal} is {color}")

cat is yellow
dog is black
horse is brown

In [85]:
for animal,color in animal_colors.items():
    print(f"{animal} is {color}")

cat is yellow
dog is black
horse is brown

### Sets

-sets are mutable
-frozensets are immutable

-iteration
-membership (in, not in), memory source is helpful
-len()
-copy()

-sets do not support!:
-indexing
-ordering,sorting
-slicing
-concat

In [ ]:
# sets are mutable
# frozensets are immutable

# iteration
# membership (in, not in)
# len()
# copy()

In [ ]:
## sets do not support!:
### indexing
### ordering, sorting
### slicing
### concat +

In [87]:
my_set = {"ada"}
print(type(my_set))
print(my_set)

<class 'set'>
{'ada'}

In [88]:
my_set = {"ada", "lovelace", "marry", "albert", "ada"}
print(my_set)

{'lovelace', 'marry', 'ada', 'albert'}

In [89]:
animal_colors = {
    "cat": "yellow",
    "dog": "black",
    "horse": "brown",
    "bear": "brown"
}

animal_set = set(animal_colors.values())
print(animal_set)

{'black', 'brown', 'yellow'}

In [91]:
numbers = [1, 1, 1, 2, 2, 2, 3, 4, 4, 5, 15]

calculated_numbers_set = {number**2 for number in numbers if number % 3 == 0}
print(calculated_numbers_set)

{9, 225}

In [92]:
calculated_numbers_list = [number**2 for number in numbers if number % 3 == 0]
calculated_numbers_list

[9, 225]

In [93]:
def calculate_numbers(my_number):
    my_list = []
    for number in numbers:
        value = number**2
        if value % 3 == 0:
            my_list.append(value)         
    return set(my_list)

calculate_numbers(numbers)

{9, 225}

In [94]:
elements_string = set("lovelace")
elements_string

{'a', 'c', 'e', 'l', 'o', 'v'}

In [95]:
birds = {'crow','sparrow','eagle','chicken', 'albatross'}

In [96]:
animals = {'chicken': 'white',
           'sparrow': 'grey',
           'eagle': 'brown and white',
           'albatross': 'grey and white',
           'crow': 'black',
           'elephant': 'grey', 
           'dog': 'rust',
           'cow': 'black and white',
           'tiger': 'orange and black',
           'cat': 'grey',
           'squirrel': 'black'}

In [97]:
birds.isdisjoint(animals)

False

In [98]:
birds.issubset(animals)

True

In [99]:
set(animals).issuperset(birds)

True