### Restcountries API

https://restcountries.com/v3.1/all

https://restcountries.com/

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
url_api_endpoint = "https://restcountries.com/v3.1/independent?status=true&fields=languages,capital,population,area,region"

In [9]:
url_api_endpoint = url_api_endpoint.replace(" ","%20")

data = pd.read_json(url_api_endpoint)

In [10]:
data

,capital,region,languages,area,population
0,[Asmara],Africa,"{'ara': 'Arabic', 'eng': 'English', 'tir': 'Ti...",117600.0,5352000
1,[Apia],Oceania,"{'eng': 'English', 'smo': 'Samoan'}",2842.0,198410
2,[Skopje],Europe,{'mkd': 'Macedonian'},25713.0,2077132
3,[Djibouti],Africa,"{'ara': 'Arabic', 'fra': 'French'}",23200.0,988002
4,[Amman],Asia,{'ara': 'Arabic'},89342.0,10203140
...,...,...,...,...,...
189,[Baku],Asia,{'aze': 'Azerbaijani'},86600.0,10110116
190,[Dili],Asia,"{'por': 'Portuguese', 'tet': 'Tetum'}",14874.0,1318442
191,[Tehran],Asia,{'fas': 'Persian (Farsi)'},1648195.0,83992953
192,[Zagreb],Europe,{'hrv': 'Croatian'},56594.0,4047200
193,[Yamoussoukro],Africa,{'fra': 'French'},322463.0,26378275

In [11]:
data['languages'].unique

<bound method Series.unique of 0      {'ara': 'Arabic', 'eng': 'English', 'tir': 'Ti...
1                    {'eng': 'English', 'smo': 'Samoan'}
2                                  {'mkd': 'Macedonian'}
3                     {'ara': 'Arabic', 'fra': 'French'}
4                                      {'ara': 'Arabic'}
                             ...
189                               {'aze': 'Azerbaijani'}
190                {'por': 'Portuguese', 'tet': 'Tetum'}
191                           {'fas': 'Persian (Farsi)'}
192                                  {'hrv': 'Croatian'}
193                                    {'fra': 'French'}
Name: languages, Length: 194, dtype: object>

In [20]:
url_lang = "https://restcountries.com/v3.1/lang/English"

url_lang = url_lang.replace(" ","%20")

countries_en = pd.read_json(url_lang)

In [21]:
countries_en.sample(2)

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,gini,fifa,car,timezones,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode
56,"{'common': 'Belize', 'official': 'Belize', 'na...",[.bz],BZ,84,BLZ,BIZ,True,officially-assigned,True,"{'BZD': {'name': 'Belize dollar', 'symbol': '$'}}",...,{'1999': 53.3},BLZ,"{'signs': ['BH'], 'side': 'right'}",[UTC-06:00],[North America],"{'png': 'https://flagcdn.com/w320/bz.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [17.25, -88.77]}",NaN
6,"{'common': 'Cameroon', 'official': 'Republic o...",[.cm],CM,120,CMR,CMR,True,officially-assigned,True,"{'XAF': {'name': 'Central African CFA franc', ...",...,{'2014': 46.6},CMR,"{'signs': ['CAM'], 'side': 'right'}",[UTC+01:00],[Africa],"{'png': 'https://flagcdn.com/w320/cm.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [3.85, 11.5]}",NaN

In [22]:
countries_en['name']

0     {'common': 'Papua New Guinea', 'official': 'In...
1     {'common': 'Christmas Island', 'official': 'Te...
2     {'common': 'Rwanda', 'official': 'Republic of ...
3     {'common': 'Montserrat', 'official': 'Montserr...
4     {'common': 'Eritrea', 'official': 'State of Er...
                            ...
86    {'common': 'Tokelau', 'official': 'Tokelau', '...
87    {'common': 'Guernsey', 'official': 'Bailiwick ...
88    {'common': 'Fiji', 'official': 'Republic of Fi...
89    {'common': 'Malawi', 'official': 'Republic of ...
90    {'common': 'Caribbean Netherlands', 'official'...
Name: name, Length: 91, dtype: object

In [23]:
countries_en['continents']

0           [Oceania]
1              [Asia]
2            [Africa]
3     [North America]
4            [Africa]
           ...
86          [Oceania]
87           [Europe]
88          [Oceania]
89           [Africa]
90    [North America]
Name: continents, Length: 91, dtype: object

In [37]:
for country in countries_en['name']:
    name = country['common']
    print(name)

Papua New Guinea
Christmas Island
Rwanda
Montserrat
Eritrea
Samoa
Cameroon
Sint Maarten
Pakistan
British Virgin Islands
Nigeria
Zambia
Saint Helena, Ascension and Tristan da Cunha
Palau
Ireland
Bermuda
Tanzania
Hong Kong
Northern Mariana Islands
South Georgia
Namibia
Solomon Islands
Ghana
South Sudan
American Samoa
Nauru
Mauritius
Grenada
Turks and Caicos Islands
Seychelles
Niue
Barbados
Curaçao
Cayman Islands
Guyana
British Indian Ocean Territory
Kenya
Saint Lucia
Tuvalu
United Kingdom
Heard Island and McDonald Islands
Norfolk Island
United States Minor Outlying Islands
Liberia
Zimbabwe
South Africa
Malta
Saint Kitts and Nevis
Lesotho
Kiribati
Guam
Tonga
Australia
United States Virgin Islands
Saint Vincent and the Grenadines
Jersey
Belize
New Zealand
Marshall Islands
Gambia
Sierra Leone
Vanuatu
Isle of Man
United States
Sudan
Falkland Islands
India
Botswana
Cocos (Keeling) Islands
Philippines
Dominica
Antigua and Barbuda
Jamaica
Canada
Bahamas
Trinidad and Tobago
Puerto Rico
Singapore
Gibraltar
Micronesia
Pitcairn Islands
Malaysia
Anguilla
Cook Islands
Eswatini
Uganda
Tokelau
Guernsey
Fiji
Malawi
Caribbean Netherlands

In [35]:
def language_which_countries(language):

    url_lang = "https://restcountries.com/v3.1/lang/"+language

    url_lang = url_lang.replace(" ","%20")

    countries_lang = pd.read_json(url_lang)

    name =[]
    for country in countries_lang['name']:
        name.append(country['common'])

    return name

In [36]:
result = []
result = language_which_countries("spanish")
result

['Venezuela',
 'Spain',
 'Chile',
 'Argentina',
 'Guam',
 'Mexico',
 'Nicaragua',
 'El Salvador',
 'Puerto Rico',
 'Dominican Republic',
 'Panama',
 'Belize',
 'Honduras',
 'Costa Rica',
 'Western Sahara',
 'Colombia',
 'Guatemala',
 'Paraguay',
 'Peru',
 'Bolivia',
 'Ecuador',
 'Equatorial Guinea',
 'Uruguay',
 'Cuba']

In [51]:
url= "https://restcountries.com/v3.1/all"

url = url.replace(" ","%20")

datas = pd.read_json(url)

In [61]:
datas.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'independent', 'status',
       'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region',
       'subregion', 'languages', 'translations', 'latlng', 'landlocked',
       'area', 'demonyms', 'flag', 'maps', 'population', 'car', 'timezones',
       'continents', 'flags', 'coatOfArms', 'startOfWeek', 'capitalInfo',
       'postalCode', 'cioc', 'borders', 'fifa', 'gini'],
      dtype='object')

In [64]:
turkey_rows = datas[datas['name'].apply(lambda x: 'common' in x and x['common'] == 'Turkey')]
turkey_rows

,name,tld,cca2,ccn3,cca3,independent,status,unMember,currencies,idd,...,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode,cioc,borders,fifa,gini
86,"{'common': 'Turkey', 'official': 'Republic of ...",[.tr],TR,792.0,TUR,1.0,officially-assigned,True,"{'TRY': {'name': 'Turkish lira', 'symbol': '₺'}}","{'root': '+9', 'suffixes': ['0']}",...,"[Europe, Asia]","{'png': 'https://flagcdn.com/w320/tr.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [39.93, 32.87]}","{'format': '#####', 'regex': '^(\d{5})$'}",TUR,"[ARM, AZE, BGR, GEO, GRC, IRN, IRQ, SYR]",TUR,{'2019': 41.9}

In [65]:
turkey_rows.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'independent', 'status',
       'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region',
       'subregion', 'languages', 'translations', 'latlng', 'landlocked',
       'area', 'demonyms', 'flag', 'maps', 'population', 'car', 'timezones',
       'continents', 'flags', 'coatOfArms', 'startOfWeek', 'capitalInfo',
       'postalCode', 'cioc', 'borders', 'fifa', 'gini'],
      dtype='object')

In [75]:
region = turkey_rows['region']
subregion = turkey_rows['subregion']
capital = turkey_rows['capital']
demonym = turkey_rows['demonyms']
Lat_Lng = turkey_rows['latlng']
area    = turkey_rows['area']
land_borders    = turkey_rows['borders']
maps    = turkey_rows['maps']
print(region)
print(subregion)
print(capital)
print(demonym)
print(Lat_Lng)
print(area)
print(land_borders)
print(maps)

86    Asia
Name: region, dtype: object
86    Western Asia
Name: subregion, dtype: object
86    [Ankara]
Name: capital, dtype: object
86    {'eng': {'f': 'Turkish', 'm': 'Turkish'}, 'fra...
Name: demonyms, dtype: object
86    [39.0, 35.0]
Name: latlng, dtype: object
86    783562.0
Name: area, dtype: float64
86    [ARM, AZE, BGR, GEO, GRC, IRN, IRQ, SYR]
Name: borders, dtype: object
86    {'googleMaps': 'https://goo.gl/maps/dXFFraiUDf...
Name: maps, dtype: object

In [78]:
print(turkey_rows['region'].iloc[0])

Asia

In [79]:
def get_geography(country_name):


    url= "https://restcountries.com/v3.1/all"

    url = url.replace(" ","%20")

    datas = pd.read_json(url)
    
    geography ={}

    country_row = datas[datas['name'].apply(lambda x: 'common' in x and x['common'] == country_name)]
                                            
    region = country_row['region'].iloc[0]
    subregion = country_row['subregion'].iloc[0]
    capital = country_row['capital'].iloc[0]
    demonym = country_row['demonyms'].iloc[0]
    Lat_Lng = country_row['latlng'].iloc[0]
    area    = country_row['area'].iloc[0]
    land_borders    = country_row['borders'].iloc[0]
    maps    = country_row['maps'].iloc[0]

    geography['region'] = region
    geography['subregion'] = subregion
    geography['capital'] = capital
    geography['demonym'] = demonym
    geography['Lat_Lng'] = Lat_Lng
    geography['area'] = area
    geography['land_borders'] = land_borders
    geography['maps'] = maps
    

    return geography

In [80]:
spain_row = {}
spain_row = get_geography("Spain")
spain_row

{'region': 'Europe',
 'subregion': 'Southern Europe',
 'capital': ['Madrid'],
 'demonym': {'eng': {'f': 'Spanish', 'm': 'Spanish'},
  'fra': {'f': 'Espagnole', 'm': 'Espagnol'}},
 'Lat_Lng': [40.0, -4.0],
 'area': 505992.0,
 'land_borders': ['AND', 'FRA', 'GIB', 'PRT', 'MAR'],
 'maps': {'googleMaps': 'https://goo.gl/maps/138JaXW8EZzRVitY9',
  'openStreetMaps': 'https://www.openstreetmap.org/relation/1311341'}}